* {margin:0px;padding:0px;}
a {outline:none;color:#00628b;text-decoration:none;}
body {margin:0 auto 30px auto;max-width:700px;background-color:#e6e6dc;font-family:calibri,helvetica,arial;font-size:12pt;text-align:justify;}
h1 {font-family:Verdana;margin:15px 0 10px 0;}
h2 {font-family:helvetica,arial;margin:15px 15px 0 15px;font-size:1.2em;border-bottom:1px solid #81a594;}
p {padding:5px 30px 10px 30px;}
ul {margin:0 0 0 45px;list-style-type:none;}
ol {margin:5px 0 0 45px;}
ol li {margin: 0 0 0 10px;}
#postamble {text-align:right;}
